* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.task-modal {
    --radio-padding: 5px 20px;
}

.content-container {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    height: 100vh;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.primary-buttons {
    border: 1px solid white;
    border-radius: 20px;
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.primary-buttons:hover {
    background-color: rgba(90, 90, 90, 10%);
    cursor: pointer;
}

.primary-logos {
    height: 1.5rem;
}

.task-panel {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-right: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.task {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
    margin-top: .5rem;
}

.title-container {
    display: flex;
    gap: .5rem;
}

.date-container {
    display: flex;
    gap: .5rem;
}

input[type='checkbox'] {
    accent-color: black;
    width: 1rem;
    height: 1rem;
}

input[type='checkbox']:hover {
    cursor: pointer;
    
}

.description-panel {
    display: flex;
    margin-top: 4rem;
    padding-left: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.add-task-container {
    display: flex;
    justify-content: center;
}

#add-task-button {
    border: none;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 50%;
}

#add-task-button:hover {
    cursor: pointer;
    background-color: rgba(90, 90, 90, 50%);
}

#add-task-logo {
    height: 1.5rem;
}

.task-modal {
    padding: 10px 10px 0px 10px;
    height: 27rem;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* radio button design start */
input[type="radio"] {
    opacity: 0;
}

#low {
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: var(--radio-padding);
}

#med {
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    padding: var(--radio-padding);
}

#high {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: var(--radio-padding);
}

input[type="radio"]:checked + #low {
    background-color: green;
    color: white;
}

input[type="radio"]:checked + #med {
    background-color: orange;
    color: white;
}

input[type="radio"]:checked + #high {
    background-color: red;
    color: white;
}

/* radio button design end */
input[type="text"] {
    height: 1.5rem;
    width: 100%;
}

/* pointer cursor on hover effect */
input[type='date'],
.title:hover, 
input[type='radio']:hover + #low,
input[type='radio']:hover + #med,
input[type='radio']:hover + #high {
    cursor: pointer;
}

#description {
    width: 100%;
}

.no-description {
    font-size: 3.5rem;
    width: 25rem;
    height: 10rem;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}

.description-title {
    font-size: 2rem;
}

.description-body {
    width: 40rem;
    position: absolute;
    top: 5%;
    left: 8.5%;
    font-size: 1rem;
}

.low-priority {
    background-color: green;
    color: white;
}

.med-priority {
    background-color: orange;
    color: white;
}

.high-priority {
    background-color: red;
    color: white;
}

.low-priority,
.med-priority,
.high-priority {
    width: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
}